html{
    background-color: rgb(58, 72, 62);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 3em;
}
#tabellone{
    margin: 1em;
    display: inline-block;
    text-align: center;
    width: 45em;
}
#tabellone div{
    background-color: rgb(101, 123, 99);
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(58, 72, 62);
    padding: 1em;
    width: 2.4em;
    margin: 0.1em;
    box-shadow: 0.5em 0.5em 2em black;
}
#tabellone button{
    display: block;
    margin: 2em auto;
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    background-color: white;
    color: rgb(58, 72, 62);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}
#tabellone button:hover{
    background-color: rgb(101, 123, 99);
    color: white;
}

#tabellone div.selected{
    background-color: white;
}
#tabUser td.selected{
    background-color: white;
}



/* FORM */
#formArea{
    text-align: center;
    height: 100%;
}
#formArea form{
    width: fit-content;
    margin: 2em auto;
    background-color: rgb(101, 123, 99);
    padding: 1em;
}
#formArea form input{
    width: 10em;
}
#formArea form button{
    letter-spacing: 0.1em;
    margin-left: 1em;
    padding: 1em;
    border: none;
    border-radius: 2em;
    background-color: rgb(58, 72, 62);
    color: white;
    cursor: pointer;
}



/* TABELLA GIOCATORE*/
#tabUser{
    text-align: center;
    height: 100%;
    display: inline;
}
#tabUser table{
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: rgb(101, 123, 99);
}
#tabUser table td{
    padding: 0.6em;
}




/* FOOTER */
footer{
    margin: 2em;
    text-align: center;
}
footer button{
    letter-spacing: 0.1em;
    margin-left: 1em;
    padding: 1em;
    border: none;
    border-radius: 2em;
    background-color: rgb(58, 72, 62);
    color: white;
    cursor: pointer;
}
footer button:hover{
    color: rgb(101, 123, 99);
}