@import 'override';

body{
    background-color: rgb(250, 202, 81);
    user-select: none;
}
nav{
    background-color: rgb(233, 183, 56);
    box-shadow: 3px 3px 0.8em rgba(0, 0, 0, 0.392);
}
nav h1{
    transform: rotate(-15deg);
    animation: ruota 5s linear infinite alternate;
}
@keyframes ruota{
    from{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    to{
        transform: rotate(-15deg);
    }
}
nav .dropdown{
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.5em;
    &:hover{
        background-color: rgb(202, 150, 18);
    }
}

nav ul {
    background-color: rgb(0, 0, 0);
    color: white;
}
nav ul li{
    font-size: 0.8em;
    margin: 0.8em 0.2em;
    &:hover{
        background-color: rgb(233, 183, 56);
        cursor: pointer;
    }
}



// cards
.card:hover{
    border: 2px solid black;
}

.btn-danger:hover, .btn-warning:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    box-shadow: 3px 3px 0.8em rgba(0, 0, 0, 0.392), 
                -3px -3px 0.8em rgba(0, 0, 0, 0.392);
}

nav ul li button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 2em;
    &:hover{
        background-color: rgb(139, 10, 10);
    }
}
